body{
    background-color:#51c7cf59;
    overflow-y: scroll;
    overflow-x: hidden;

}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.dd{
    font-size: 1.7rem !important;
    margin: 10px !important;
}
.banner{
    height: 100%;
    width: 100%;
    z-index: 1;
    margin: 0%;
    padding: 0%;
    position: absolute;

}

.gj{
    position:absolute;

}

.banner_content{
position:absolute;
margin-left: 10% ; 
z-index: 43;

}
.banner_text{
    margin-top: 20%;
    

}
.h3b{
    font-size: 1rem;

    
}
.tbollet{
    position: relative;
    
}
.ico_ban{
    position: absolute;
    margin-left: 20px;
}
.btbig{
    margin: 10px;
    font-size: calc(4vw + 30px);
    font-family: 'Dosis', sans-serif;
    color: #212529!important

}
.btbigoc{
    margin: 10px;
    font-size: calc(4vw + 30px);
    font-family: 'Dosis', sans-serif;
    color: rgb(238, 136, 41)!important

}
.navbar-brand{
    font-size: calc(0.5vw + 30px);
    font-family: 'Dosis', sans-serif;
}
.q1{
    position: relative;
    margin-left: 0px;
    text-align: center;
    color: #212529a6;
    font-family: 'Dosis', sans-serif;
}
.q2{
margin-top: 9px;
position: absolute;
}
.border-banner{
    position:static;
    margin-left:10px;
    font-family: 'Dosis', sans-serif;

}

.warnning-banner{
    height: 100px;
    width: 230px;
    padding: 10px;
    border-radius: 10px;
    border-width: 20px;

    margin-left: 10px;
    margin-top: 40px;
    cursor: pointer;
    background-color: rgb(238, 136, 41);

}
.warnning-banner:hover{
background-color: rgb(240, 144, 54);

}


.fa-color{
    color: #212529a6;
}
.ava{

}
.banner_imgfull{
    object-fit: cover;

}
.banner_image{
    height: 200px;
    width: 300px;
    margin-left: 300px;
    z-index: 2;
}
.brannding{
    height: 80px;
    background-color: #343a40;
    position:absolute;
    z-index: 99;
    margin-top: 800px;
padding-left: 80px;
padding-right: 80px;
left: 18%;
right: 18%;
}
.nana{
    margin: 20px;
    align-items: center;
    text-align: center;
    transition: all .2s ease-in-out; 

}
.nana:hover{
   transform: scale(1.1);

}
.card2{
    height:100%;
    background-color: #0080ff;
    position:relative;


}
.ban_ticket{
    position:absolute;
    height: 30%;
    width: 60%;
border-radius: 30px;
background-color:  #a2c2e2;
left: 21%;
right: 20%;
z-index: 33;
margin-top: -62px;
box-shadow: 0 8px 8px -4px rgb(161, 230, 253);
text-align: center;

font-size: 1.7rem !important;
font-size: calc(2vw + 30px) !important;
overflow: hidden;
}
.ljdsa{
height: 1000px;
width: 1500px;
padding-bottom: 20px;
padding-right: 430px
position: relative;
z-index: 324;

}
.saa{
position: absolute;  
  z-index: 32444;

}

.dsa{
position: relative;
margin-top: 60px;
font-family: 'Dosis', sans-serif;
font-size:2rem!important;
font-size: calc(4vw + 30px) !important;
}

.ban_ticket:hover{
      
  /* #3 */
  
  /* #4 AND INFINITY!!! (CSS3 only) */
  box-shadow:
      0 0 0 10px hsl(0, 0%, 58%),
      0 0 0 15px hsl(0, 1%, 83%);
      border: 5px solid hsl(0, 1%, 32%);

}
























@media only screen and (max-width: 1843px) {
.brannding{
    margin-top: 800px;

}
svg{
    height: 27px;
    width: 27px;
}
.ban_ticket{
    height: 40%;
    width: 60%;
background-color:  #a2c2e2;
left: 20%;
right: 20%;
font-size: 1.7rem !important;

}


}
@media only screen and (max-width: 1354px) {
    .brannding{
        margin-top: 750px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .ban_ticket{
        height: 40%;
        width: 60%;
    background-color:  #a2c2e2;
    left: 21%;
    right: 20%;
    font-size: 1.7rem !important;

    }
    .card3{
        margin-top: 750px !important;

    }
    .im_arr{
        height: 500px;
    }

    .tik1{
        margin-right: 40px;
        margin-bottom: 70px;
    }
.tik2 img{
    height: 200;
}
}
@media only screen and (max-width: 1112px) {
    .brannding{
        margin-top: 700px;
        padding-left: 0px;
        padding-right: 0px;
    }
    svg{
        height: 20px;
        width: 20px;
    }
    .ban_ticket{
        height: 30%;
        width: 60%;
    background-color:  #a2c2e2;
    left: 21%;
    right: 20%;
    }
    .card3{
        margin-top: 700px!important;
    }
    }

    @media only screen and (max-width: 1028px) {
        .brannding{
            margin-top: 700px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .nana{
            margin: 10px;
        }
        svg{
            height: 20px;
            width: 20px;
        }
        .ban_ticket{
            height: 30%;
            width: 80%;
        background-color:  #a2c2e2;
        left: 10%;
        right: 20%;
        }
        .dd{
            font-size: 1.2rem !important;
            margin: 5px !important;

        }
        }

        @media only screen and (max-width: 828px) {


            .brannding{
                margin-top: 70%;
                padding-left: 20px;
                padding-right: 20px;
            }
            .nana{
                margin: 2px;
            }
            svg{
                height: 20px;
                width: 20px;
            }
            .ban_ticket{
                height: 30%;
                width: 80%;
            background-color:  #a2c2e2;
            left: 10%;
            right: 20%;
            }
            .card3{
                margin-top: 540px!important;

            }
            .dd{
                font-size: 1rem !important;
                margin: 5px !important;

            }
        } 
           
        
        @media only screen and (max-width: 569px) {


            .brannding{
                margin-top: 400px;
                padding-left: 20px;
                padding-right: 20px;
            }
            .nana{
                margin: 2px;
            }
            svg{
                height: 20px;
                width: 20px;
            }
            .ban_ticket{
                height: 30%;
                width: 90%;
            background-color:  #a2c2e2;
            left: 5%;
            right: 20%;
            }
            .card3{
                margin-top: 400px!important;
            }
            
        } 
.card3{
    position:static;
    width: 100%;
    height: 200px;
    margin-top: 800px;
    z-index: 2;

}
.a21{
    width: 100%;
    height: 2200px;
    background-color: #f9fcff;
    position: relative;
}
.tik1{
    height: 300px;
    width: 350px;
    position:relative;
border-radius: 20px;
margin-left: 20%;
margin-right: 70px;
margin-top:100px ;
transition: all .2s ease-in-out; 

}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.tik2{
    height: 300px;
    width: 350px;
    position:relative;
border-radius: 20px;
margin-right: 20%;
margin-left: 70px;
margin-top:100px ;
transition: all .2s ease-in-out; 
}
.tik1x{
    height: 300px;
    width: 350px;
    position:relative;
border-radius: 20px;
margin-left: 20%;
margin-right: 70px;
margin-top:160px ;
transition: all .2s ease-in-out; 
}
.tik2x{
    height: 300px;
    width: 350px;
    position:relative;
border-radius: 20px;
margin-right: 20%;
margin-left: 70px;
margin-top:160px ;
transition: all .2s ease-in-out; 
}

.card3_ban{
    font-family: 'Dosis', sans-serif;
text-align: center;
padding-top: 300px;
font-size: calc(4vw + 30px);
padding-bottom: 30px;

}
.artisr_name{
text-align: center;
font-family: 'Dosis', sans-serif;
margin-top: 200px;
padding-left: 20px;
color: aliceblue;
position: absolute;
}
.tik1:hover{
    transform: scale(1.1);
    filter: contrast(2.9) grayscale(1) opacity(0.78) saturate(1.9) ;

}
.tik2:hover{
    transform: scale(1.1);

    filter: contrast(2.9) grayscale(1) opacity(0.78) saturate(1.9) ;

}
.tik1x:hover{
    transform: scale(1.1);
    filter: contrast(2.9) grayscale(1) opacity(0.78) saturate(1.9) ;

}
.tik2x:hover{
    transform: scale(1.1);
    filter: contrast(2.9) grayscale(1) opacity(0.78) saturate(1.9) ;

}

.ffdsg{
    height: 600px;
}

.catMain{
    width: 100%;
    height: 300px;
    position: relative;
padding-left: 300px;
padding-right: 300px;
margin-bottom: 40px;


}
.klsafdh{
    font-size: calc(4vw + 30px)!;

}
.cat1{
    height: 260px;
    width: 200px;
    background-color: #212529;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    font-family: 'Bungee Inline', cursive;
    color: #f9fcff;
text-align: center;
overflow: hidden;
}
.cat2{
    height: 260px;
    width: 200px;
    background-color: #212529;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    font-family: 'Bungee Inline', cursive;
    color: #f9fcff;
    text-align: center;
    overflow: hidden;

}
.cat3{
    height: 260px;
    width: 200px;
    margin-top: 20px;
margin-right: 20px;
    background-color: #212529;
    color: #f9fcff;
    display: flex;
    border-radius: 0.75rem;
    font-family: 'Bungee Inline', cursive;
    flex-direction: column;
    text-align: center;
    overflow: hidden;

}
.cat4{
    height: 260px;
    width: 200px;
    color: #f9fcff;

    margin-top: 20px;
    border-radius: 0.75rem;
    font-family: 'Bungee Inline', cursive;
    display: flex;
background-color: #212529;
flex-direction: column;
text-align: center;
overflow: hidden;

}
.cat1:hover{
    background-color: #379ca0;

}
.cat2:hover{
    background-color: #d961e4;

}
.cat3:hover{
    background-color: #8531e6;

}
.cat4:hover{

    background-color: #cf1818;


}

